
<script src="../../lib/STORE.js"></script>
<script src="../../lib/TwoPartTLDs.js"></script>
<script src="../../lib/TLDmerge.js"></script>
<script src="../../lib/BRANDS.js"></script>
<script src="../../lib/TAGS.js"></script>
<script src="../../lib/lib.js"></script>
<script src="../../lib/API.js"></script>


<link rel="import" href="one-month.html">

<dom-module id="full-app">
    <style>
    one-month{
        display: block;
        margin-bottom: 150px;
    }
    </style>


    <template>
        <h1>SurfTime</h1>
        <template is="dom-repeat" items="{{months}}">
            <one-month month="{{item}}"></one-month>
        </template>
    </template>
</dom-module>





<script>
    Polymer({
        is: "full-app",
        properties: {},
        ready: function () {
            API.loadData(function(days){
                // var months = API.groupDaysByMonth(days);
                API.process(days);
            });
            console.log('data-months', API.DATA);
            this.months = Object.keys(API.DATA.months).reverse();
            this.noCAT = API.DATA.noCAT;
        }
    });
</script>
