<dom-module id="bar-chart">
    <style>
        table {
            width: 100%;
        }

        td {
            vertical-align: bottom;
            width: 3%;
        }

        .bar {
            width: 80%;
            background: CornflowerBlue ;
            margin-left: auto;
            margin-right: auto;
        }

        .label,.value {
            text-align: center;
            color: silver;
        }
        .value{
            font-size: 12px;
            color: gray;
        }
    </style>


    <template>
        <table>
            <tr>
                <template is="dom-repeat" items="{{data}}">
                    <td>
                        <div class='value'>{{value(index)}}</div>
                        <div class='bar' style$="height:[[height(index)]];background:[[color(index)]]"></div>
                        <div class='label'>{{label(index)}}</div>
                    </td>
                </template>
            </tr>
        </table>
    </template>
</dom-module>





<script>
    Polymer({
        is: "bar-chart",
        properties: {
            labels: {
                type: Array,
                observer: 'change'
            },
            data: {
                type: Array,
                observer: 'change'
            },
            values: {
                type: Array,
                observer: 'change'
            },
            pixel: {
                type: Number,
                observer: 'change',
                value: 1
            },
        },
        change: function () {
            // console.log("LABELS",this.labels);
            // console.log('DATA', this.data);
            // console.log('VALUES', this.values);
            // console.log('PIXEL', this.pixel);
        },
        label: function(index){
            return this.labels[index];
        },
        value: function(index){
            return this.values[index];
        },
        height: function(index){
            return Math.round(this.data[index]/this.pixel)+'px';
        },
        color: function(index){
            var val = this.data[index];
            var col = 128-(val/150);
            if(col<0) col = 0;
            // console.log('color',col);
            return "hsla(" + col + ",100%,50%,1)";
        }
    });
</script>
