<dom-module id="top-sites">
    <style>
        h3 {
            margin-bottom: 3px;
        }

        .time {
            text-align: right;
            color: gray;
        }
    </style>


    <template>
        <h3>Top Sites</h3>
        <table>
            <template is="dom-repeat" items="{{sites}}">
                <tr>
                    <td class='time'>{{readTime(item.value)}}</td>
                    <td class='name'>{{item.name}}</td>
                </tr>
            </template>
        </table>
    </template>
</dom-module>





<script>
    Polymer({
        is: "top-sites",
        properties: {
            data: {
                type: Object,
                observer: 'change'
            }
        },
        change: function () {
            sites = ObjectToArray(this.data);
            sites.sort(function (a, b) {
                return b.value - a.value
            });
            sites = sites.slice(0, 7);
            console.log('sites', sites);
            this.set('sites', sites);
        },
        readTime: function (seconds) {
            if (seconds / 3600 > 1) return Math.floor(seconds / 3600) + 'h';
            if (seconds / 60 > 1) return Math.floor(seconds / 60) + 'm';
            return seconds + 's';
        }
    });
</script>
