<link rel="import" href="top-items.html">
<link rel="import" href="bar-chart.html">

<dom-module id="one-month">
    <style>
        table {
            width: 100%;
        }

        h2 {
            margin-top: 50px;
            margin-bottom: 5px;
        }

        .top-items {
            vertical-align: top;
        }
    </style>


    <template>
        <h2>{{title}}</h2>
        <table>
            <tr class='top-items'>
                <td>
                    <top-items name="Categories" data="{{tags}}"></top-items>
                </td>
                <td>
                    <top-items name="Domains" data="{{domains}}" limit='20'></top-items>
                </td>
            </tr>
            <tr>
                <td colspan='3'>
                    <bar-chart month="{{bars}}"></bar-chart>
                </td>
            </tr>
        </table>
    </template>

</dom-module>





<script>
    Polymer({
        is: "one-month",
        properties: {
            month: {
                type: String,
                observer: 'monthChange'
            }
        },
        monthChange: function () {
            var months = "January,February,March,April,May,June,July,August,September,October,November,December".split(',');
            var tmp = this.month.split('-');
            this.set('title', months[tmp[1] * 1 - 1] + ' ' + tmp[0]);
            this.set('domains', API.DATA.months[this.month].domains);
            this.set('tags', API.DATA.months[this.month].categories);
            // this.set('brands', DATA.brands[this.month]);
            // this.set('bars', DATA.bars[this.month]);
        }


    });
</script>

<!--                 <td>
                    <top-items name="Companies" data="{{brands}}"></top-items>
                </td>
 -->